body {
  font-size: 16px;
  color: #000000;
}

a {
  color: #726df1;
}

h1, h2, h3 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 600;
  padding-bottom: 0;
  line-height: 2.0em;
}
@media all and (max-width: 700px) {
  h1, h2, h3 {
    line-height: 1.2;
  }
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 2.0em;
  color: #39446d;
}

h4 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.9em;
  line-height: 1.60;
}
@media all and (max-width: 700px) {
  h4 {
    line-height: 1.35;
  }
}

.et_pb_column_1_3 h3 {
  font-size: 1.5em;
}

.news {
  padding: 0 auto;
}
.news h2 {
  font-family: "adobe-caslon-pro", serif;
  color: #557473;
  font-size: 3.0em;
  padding: 0.75em 0 0 0 !important;
  margin: 0 !important;
  line-height: inherit;
}

/* Navigation */
.et_pb_fullwidth_menu_0.et_pb_fullwidth_menu {
  height: 75px;
  background: #769e9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #769e9d 0%, #9ebdb8 58%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #769e9d 0%, #9ebdb8 58%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #769e9d 0%, #9ebdb8 58%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769e9d', endColorstr='#9ebdb8',GradientType=0 );
  /* IE6-9 */
  border-top: 1px solid #9ebdb8;
}

ul#menu-menu_2 {
  padding-top: 0 !important;
  display: table;
}

.fullwidth-menu {
  border-left: 1px solid #769d9c;
  border-right: 1px solid #9ebdb8;
}

.fullwidth-menu li {
  padding-right: 0;
  display: table-cell;
}

.fullwidth-menu li.top-level > a {
  word-wrap: break-word;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #769d9c;
  border-left: 1px solid #9ebdb8;
  padding: 0 2.0em;
  color: #fff;
  height: 75px;
  font-size: 1.05em;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.fullwidth-menu li.single-line {
  line-height: 3.0em;
}

.fullwidth-menu li.top-level > a:hover {
  background: #9ebdb8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #9ebdb8 42%, #769e9d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9ebdb8 42%, #769e9d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9ebdb8 42%, #769e9d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ebdb8', endColorstr='#769e9d',GradientType=0 );
  /* IE6-9 */
}

.nav li {
  line-height: 1.5em;
}

.fullwidth-menu-nav > ul ul.sub-menu {
  width: 200%;
  border-top: 3px solid #f5eccf;
  background: #769e9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #769e9d 0%, #9ebdb8 58%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #769e9d 0%, #9ebdb8 58%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #769e9d 0%, #9ebdb8 58%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769e9d', endColorstr='#9ebdb8',GradientType=0 );
  /* IE6-9 */
}

.fullwidth-menu-nav > ul ul.sub-menu li {
  display: block;
  width: 100%;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  padding: 0;
}

.fullwidth-menu-nav > ul ul.sub-menu li a {
  border-right: none;
  border-left: none;
  width: 100%;
  display: block;
  font-size: 1.05em;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  background-color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.fullwidth-menu li > ul > li a:hover {
  background-color: transparent;
}

.menu-item-has-children > a:first-child:after {
  display: none;
}

ul#top-menu {
  padding: 0 0 55px;
}
ul#top-menu li {
  padding: 0 20px;
  border-right: 2px solid #918e84;
}
ul#top-menu li:last-child {
  border-right: 0;
}

#top-menu li > a {
  color: #4b5374;
  font-size: 1.25em;
}

#top-menu li.current-menu-item > a {
  color: #4b5374;
}

.et_header_style_left #et-top-navigation nav > ul > li > a {
  padding-bottom: 0 !important;
}

.mobile_menu_bar:before {
  color: #ffffff;
}

#et_mobile_nav_menu .mobile_menu_bar:before {
  color: #39446d;
}

@media all and (max-width: 700px) {
  .et_pb_fullwidth_menu .et_mobile_menu {
    top: 74px;
    padding: 5%;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1200px) {
  .et_pb_fullwidth_menu .et_mobile_nav_menu {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  nav.fullwidth-menu-nav {
    display: none;
  }

  .et_pb_fullwidth_menu .et_mobile_menu,
  .et_pb_fullwidth_menu .et_mobile_menu ul {
    text-align: left;
    list-style: none !important;
    top: 70px;
  }

  .et_mobile_nav_menu {
    display: block;
    float: none;
  }

  .et_pb_fullwidth_menu .mobile_menu_bar:before {
    top: 18px;
  }
}
header div.container {
  max-width: 1250px;
}

.et_header_style_left .logo_container {
  width: 50%;
}
@media all and (max-width: 700px) {
  .et_header_style_left .logo_container {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  #logo {
    max-height: 75%;
  }
}

.et_pb_row {
  max-width: 1250px !important;
}

.two-columns {
  width: 50%;
  float: left;
  padding: 0 1.0em;
}
@media all and (max-width: 700px) {
  .two-columns {
    width: 100%;
    float: none;
    display: block;
    padding: 1.5em 0 0;
  }
}

@media all and (max-width: 980px) {
  .et_pb_column_1 {
    padding-left: 0 !important;
    padding-top: 2.0em;
  }
}

#main-footer .container {
  max-width: 1250px;
}
#main-footer .footer-widget {
  width: 30.666%;
  margin: 0 3.5% 5.5% 0;
}
#main-footer .footer-widget:nth-child(3) {
  margin-right: 0 !important;
}
#main-footer span.mhh_copy {
  display: inline-block;
  text-align: right;
  line-height: 1;
  padding: 15px 13px 15px 5.0em;
  color: #ffffff;
}
@media all and (max-width: 1378px) {
  #main-footer span.mhh_copy {
    padding: 15px 13px 15px 0;
  }
}
@media all and (max-width: 1278px) {
  #main-footer span.mhh_copy {
    text-align: center;
    padding: 15px 0 0;
    display: block;
  }
}
#main-footer ul.bottom-nav {
  text-align: right;
  display: inline-block;
}
#main-footer ul.bottom-nav li {
  line-height: 1;
  border-right: 1px solid #ffffff;
  padding-right: 13px;
  padding-left: 13px;
}
#main-footer ul.bottom-nav li:first-child {
  border-left: 1px solid #ffffff;
}
#main-footer ul.bottom-nav li:last-child {
  border-right: 0;
}
#main-footer ul.bottom-nav li a {
  color: #ffffff;
  text-decoration: underline;
}
@media all and (max-width: 1278px) {
  #main-footer ul.bottom-nav {
    text-align: center;
    width: 100%;
  }
  #main-footer ul.bottom-nav li {
    border-right: none;
  }
  #main-footer ul.bottom-nav li:first-child {
    border-left: none;
  }
}
#main-footer .footer_menu_container {
  background-color: #39446d;
}

#et-footer-nav {
  background-color: #39446d;
  border-top: 1px solid #7b7f8f;
  padding-bottom: 1.0em;
}
@media all and (max-width: 700px) {
  #et-footer-nav {
    padding-top: 1.0em;
  }
}

#footer-widgets h4.title {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5em;
  color: #f5eccf;
  padding-bottom: 5px;
}
#footer-widgets h5 {
  font-family: "myriad-pro", sans-serif;
  font-size: 1.13em;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 3px;
}
#footer-widgets p {
  font-family: "myriad-pro", sans-serif;
  font-size: 1.13em;
  color: #ffffff;
  padding-bottom: 5px;
}
#footer-widgets a {
  color: #ffffff;
  text-decoration: underline;
}

body {
  background-color: #f5eccf;
}

#main-header {
  background-color: #f5eccf;
}
