@import 'partials/variables';
@import 'partials/text-styles';
@import 'partials/navigation';
@import 'partials/cust-layout';
@import 'partials/footer';


body{
	background-color: $mainBgColor;
	border-top: 10px solid $dkblue;
}
#main-header {
	background-color: $mainBgColor;
	border-top:1px solid $white;
	border-bottom:1px solid $teal;
}

