header div.container{
	max-width: 1250px;
}
.et_header_style_left .logo_container{
	width:50%;
	@media all and (max-width: 700px) {
		width: 100%;
	}
}
#logo{
	@media all and (max-width: 700px) {
		max-height:75%;
	}
}
.et_pb_row{
	max-width: 1250px!important;
	padding:15px 0!important;
}
.two-columns{
	width:50%;
	float:left;
	padding:0 1.0em;
	@media all and (max-width: 700px) {
		width: 100%;
		float:none;
		display:block;
		padding:1.5em 0 0;
	}
}
.et_pb_column_1{
	@media all and (max-width: 980px) {
		padding-left:0!important;
		padding-top:2.0em;
	}
}

.mission{
	padding:0 1.0em 0.75em;
}
.et_pb_column_2_3 .et_pb_row_inner{
	padding:0;
}
.et_pb_gutters3 .et_pb_column_2_3 .et_pb_module{
	margin-bottom: 2.0%;
}
.et_pb_gutters3 .et_pb_row .et_pb_column_single.et_pb_column_1_3 .et_pb_module{
	margin-bottom: 2.0%;
}

.main_slider{
	@include aspect-ratio(3, 2);
	min-height:200px;
	min-width: 100%;
	.et_pb_slides{
		.et_pb_slide{
			height:100%;
			position: relative;
			line-height: 0;
			display: inline-block;
			&:before {
		      content: '';
		      position: absolute;
		      top: 0;
		      bottom: 0;
		      left: 0;
		      right: 0;
		      -webkit-box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
			  -moz-box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
			  box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
			}
		}
	}
}
 
.inset_img {
	position: relative;
	line-height: 0;
	display: inline-block;
	&:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
	  -moz-box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
	  box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
	}
}

.fluid-width-video-wrapper {
	position: relative;
	line-height: 0;
	display: inline-block;
	&:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 22;
      -webkit-box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
	  -moz-box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
	  box-shadow: inset 1px 2px 16px 1px rgba(0,0,0,0.66);
	}

}
