/* Navigation */
.et_pb_fullwidth_menu_0.et_pb_fullwidth_menu{
	height:75px;
	background: #769e9d; /* Old browsers */
	background: -moz-linear-gradient(top, #769e9d 0%, #9ebdb8 58%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #769e9d 0%,#9ebdb8 58%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #769e9d 0%,#9ebdb8 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769e9d', endColorstr='#9ebdb8',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #9ebdb8;
}
ul#menu-menu_2 {
	padding-top:0!important;
	display:table;
}
.fullwidth-menu{
	border-left:1px solid #769d9c;
	border-right:1px solid #9ebdb8;
}
.fullwidth-menu li{
	padding-right:0;
	display: table-cell;
}
.fullwidth-menu li.top-level > a{
	word-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
    border-right:1px solid #769d9c;
	border-left:1px solid #9ebdb8;
	padding:0 2.0em;
	color:#fff;
	height:75px;
	font-size:1.05em;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.fullwidth-menu li.single-line{
	line-height:3.0em;	
}
.fullwidth-menu li.top-level > a:hover{
	background: #9ebdb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #9ebdb8 42%, #769e9d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #9ebdb8 42%,#769e9d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #9ebdb8 42%,#769e9d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ebdb8', endColorstr='#769e9d',GradientType=0 ); /* IE6-9 */
}
.nav li{
	line-height: 1.5em;
}
.fullwidth-menu-nav > ul ul.sub-menu{
	width:200%;
	border-top:3px solid #f5eccf;
	background: #769e9d; /* Old browsers */
	background: -moz-linear-gradient(top, #769e9d 0%, #9ebdb8 58%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #769e9d 0%,#9ebdb8 58%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #769e9d 0%,#9ebdb8 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769e9d', endColorstr='#9ebdb8',GradientType=0 ); /* IE6-9 */
}
.fullwidth-menu-nav > ul ul.sub-menu li{
	display: block;
	width:100%;
	border-right:0px solid transparent;
	border-left:0px solid transparent;
	padding:0;
}
.fullwidth-menu-nav > ul ul.sub-menu li a{
	border-right:none;
	border-left:none;
	width:100%;
	display: block;
	font-size:1.05em;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
	color:#fff;
	background-color:transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.fullwidth-menu li > ul > li a:hover{
	background-color:transparent;
}
.menu-item-has-children > a:first-child:after{
	display:none;
}
ul#top-menu{
	padding: 0 0 55px;
	li{
		padding:0 20px;
		border-right: 2px solid #918e84;
		&:last-child{
			border-right: 0;
		}
	}
}
#top-menu li > a {
	color:#4b5374;
	font-size: 1.25em;
}
#top-menu li.current-menu-item > a {
	color:#4b5374;
}

.et_header_style_left #et-top-navigation nav > ul > li > a{
	padding-bottom:0!important;
}
.mobile_menu_bar:before{
	color: $white;
}
#et_mobile_nav_menu{
	.mobile_menu_bar:before{
		color: $dkblue;
	}
}

@media all and (max-width: 700px) {
	.et_pb_fullwidth_menu .et_mobile_menu {
		top: 74px;
		padding: 5%;
	}
}
 
@media only screen and (min-width : 981px) and (max-width : 1200px) {
	.et_pb_fullwidth_menu{
		.et_mobile_nav_menu {display:block; margin-bottom:10px; margin-top:5px }
	}
	nav.fullwidth-menu-nav{ display:none; }
	.et_pb_fullwidth_menu .et_mobile_menu,
	.et_pb_fullwidth_menu .et_mobile_menu ul {
		text-align: left;
		list-style: none !important;
		top:70px;
	}
	.et_mobile_nav_menu{
		display: block;
		float:none;
	}
	.et_pb_fullwidth_menu .mobile_menu_bar:before {
		top: 18px;
	}
}
