body{
	font-size: 16px;
	color:$black;
}
a {
	color:$midBlue;
}
h1, h2, h3 {
	font-family: $mainBodyFont;
	font-weight: 600;
	padding-bottom: 0;
	line-height: 2.0em;
}

h2{
	font-size: 2.0em;
}
h3{
	font-size: 2.0em;
	color:$dkblue;
}
h4{
	font-family: $mainBodyFont;
	font-weight: 400;
	color: $black;
	font-size: 1.9em;
	line-height: 1.60;
}
.et_pb_column_1_3{
	h3{
		font-size: 1.5em;
	}
}
.news{
	padding: 0 auto;
	h2{
		font-family: $secondaryHeaderFont;
		color: $teal;
		font-size: 3.0em;
		padding: 0.75em 0 0 0!important;
	    margin: 0!important;
	    line-height: inherit;
	}
}