// Colors
$mainBgColor: #f5eccf;
$dkblue:  #39446d;
$midBlue: #726df1;
$black: #000000;
$white: #ffffff;
$teal: #557473;

//Fonts
$mainHeaderFont: "proxima-nova",sans-serif;
$secondaryHeaderFont: "adobe-caslon-pro",serif;
$mainBodyFont: "myriad-pro",sans-serif;